# Assets
app/.webassets-cache

# DataBase
*.db
*.sqlite

# Flask
instance/

# Logger
*.log

# Mac
*.DS_Store

# Python
__pycache__/

# Script
script/db_fill.py

# Upload
app/upload

# Virtual Environment
venv/

# VsCode
.vscode
