# apparmor
cmdline.txt

# Assets
app/.webassets-cache

# DataBase
*.db
*.sqlite

# Flask
instance/

# GitHub
.github/workflows/webhook.yml

# Logger
*.log

# gUnicorn
gunicorn.service
gunicorn.socket
gunicorn.sock

# Nginx
flask.conf

# Mac
*.DS_Store

# Python
__pycache__/
*.py

# Shell
*.sh

# Virtual Environment
.venv/
venv/

# Upload
app/upload/
