<div class="card {% if prop.bought %}is-bought{% endif %}">
  <div class="card-header">
    {% if prop.description %}
      <p>{{ prop.description }}</p>
    {% endif %}
  </div>

  <div class="card-image">
    {% if prop.img %}
      <img src="{{ url_for('static', filename='upload/' + prop.img) }}" alt="Image for {{ prop.img }}">
    {% endif %}
  </div>

  <div class="card-content">
    {% if prop.url and prop.domain %}
      <a href="{{ prop.url }}" target="_blank">{{ prop.domain }}</a>
    {% endif %}
  </div>

  <div class="card-footer">
    {% if prop.is_owner %}
      <a href="{{ url_for('main.edit_wish', wish_id=prop.id) }}" class="button is-warning">Edit Wish</a>
    {% else %}
      {% if prop.bought %}
        <a href="{{ url_for('main.unmark_as_bought', wish_id=prop.id) }}" class="button is-danger {% if not is_buyer %}is-static{% endif %}">Unmark as Bought</a>
      {% else %}
        <a href="{{ url_for('main.mark_as_bought', wish_id=prop.id) }}" class="button is-primary">Mark as Bought</a>
      {% endif %}
    {% endif %}
  </div>
</div>
