<div class="card {% if prop.bought and not prop.is_owner%}is-bought{% endif %}">
  <div class="card-header">
    {% if prop.description %}
      <p>{{ prop.description }}</p>
    {% endif %}
  </div>

  <div class="card-image">
    {% if prop.img %}
      <img src="{{ url_for('static', filename='upload/' + prop.img) }}" alt="Image for {{ prop.img }}">
    {% endif %}
  </div>

  <div class="card-content">
    {% if prop.url and prop.domain %}
      <a href="{{ prop.url }}" target="_blank">{{ prop.domain }}</a>
    {% endif %}
  </div>

  <div class="card-footer">
    {% if prop.is_owner %}
      <a href="{{ url_for('main.edit', wish_id=prop.id) }}" class="button is-warning">Edit</a>
    {% else %}
      {% if prop.bought %}
        <a href="{{ url_for('main.cancel', wish_id=prop.id) }}" class="button is-danger {% if not prop.is_buyer %}is-static{% endif %}">Cancel</a>
      {% else %}
        <a href="{{ url_for('main.buy', wish_id=prop.id) }}" class="button is-primary">Buy</a>
      {% endif %}
    {% endif %}
  </div>
</div>
