html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}
body {
  font-size: clamp(32px, 4vw + 1rem, 24px);
}
.content {
  flex: 1;
}
.header,
.footer {
  padding: 10px;
  text-align: center;
}
.navbar-menu {
  display: none;
}
p {
  text-align: center;
}
.button.is-big {
  color: yellow;
  background-color: maroon;
  font-size: 5rem;
  font-weight: bold;
  padding: 2rem;
}
