
:root {
  --black: #111;
  --dark-grey: #222;
  --grey: #333;
  --light-grey: #444;
  --white: #666;
  --blue: #003;
  --brown: #630;
  --cyan: darkcyan;
  --green: #030;
  --magenta: darkmagenta;
  --orange: darkorange;
  --red: #300;
  --yellow: yellow;
}

.is-blue {
  background-color: var(--blue);
  color: var(--blue);
}

.is-brown {
  background: var(--brown);
  color: var(--brown);
}

.is-green {
  background-color: var(--green);
  color: var(--green);
}

.is-orange {
  background-color: var(--orange);
  color: var(--orange);
}

.is-red {
  background-color: var(--red);
  color: var(--red);
}

html, body {
  background-color: var(--grey);
  color: var(--grey);
}

* {
  box-sizing: border-box;
  color: var(--orange) !important;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-size: clamp(20px, 4vw + 1rem, 24px);
}

.textarea,
.input {
  background-color: var(--dark-grey);
}

.textarea,
.input,
.button {
  border: none;
}

.field .label {
  margin-bottom: 5px;
}

.button {
  margin: 0;
}

.button:focus,
.button:hover,
.input:focus,
.input:hover,
.textarea:focus,
.textarea:hover {
  transform: scale(1.05);
  border: 1px solid var(--black);
}

.button:active {
  transform: scale(0.95);
}

.button:disabled {
  border: 1px solid var(--grey);
  background-color: var(--dark-grey);
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container.is-max-desktop {
  margin-top: 5px;
  margin-bottom: 5px;
  flex-grow: 1;
  max-width: none;
}

.content {
  text-align: center;
}

.header,
.footer {
  padding: 0;
  text-align: center;
  background-color: var(--dark-grey);
}

.footer {
  margin-top: 10px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.notifications,
.notification {
  padding: 0;
  margin: 0;
  width: 300px;
  text-align: center;
}

#flash-messages {
  transition: opacity 0.5s ease-out;
}

.navbar-language {
  width: 3.25rem;
}

.navbar-language .icon {
  width: 3.25rem;
  height: auto;
  vertical-align: middle;
}

.navbar-burger {
  display: flex;
  background-color: var(--black);
}

.navbar-burger:hover {
  background-color: var(--light-grey);
}

.navbar-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 120px;
  z-index: 2;
  background-color: var(--black);
}

@media screen and (min-width: 1024px) {
  .navbar-menu {
    background-color: var(--black);
  }
}

.full-width-item {
  padding: 0 !important;
  height: 100%;
}

.navbar-item-link {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0.5rem 0.75rem;
  background-color: var(--black);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  font-size: 1rem;
  font-weight: 200;
}

.navbar-item-link:hover {
  background-color: var(--grey);
  color: var(--black);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  font-weight: 600;
}

.navbar-menu.is-active {
  display: block;
}

.button {
  padding: 5px;
  font-weight: bold;
  z-index: 10;
}

p {
  text-align: center;
}

.modal-content {
  width: 90vw;
  max-width: none;
  margin: 0;
}

.modal .button {
  background-color: var(--brown);
  width: 5rem;
}

.box {
  padding: 1rem;
  margin: 0;
  width: 95%;
  max-height: none;
}

@media (max-width: 768px) {
  .modal-content {
    width: 100vh;
    padding: 1rem;
    border-radius: 0;
  }
}

@media (min-width: 769px) {
  .modal-content {
    max-height: calc(90vh);
    overflow-y: auto;
  }
}

h2.subtitle {
  font-size: 2rem;
  margin-bottom: 0 !important;
}

.has-text-darkmagenta {
  color: var(--magenta) !important;
}

.has-text-darkcyan {
  color: var(--cyan) !important;
}

.has-background-black {
  background-color: var(--black) !important;
}

.has-background-dark-grey {
  background-color: var(--dark-grey) !important;
}
