body {
  font-size: clamp(32px, 4vw + 1rem, 24px);
}

.content {
  text-align: center;
}

.header,
.footer {
  padding: 10px;
  text-align: center;
}

.navbar-menu {
  display: none;
}

.button {
  padding: 5px;
  font-weight: bold;
  z-index: 10;
}

p {
  text-align: center;
}
