{% extends 'base.htm' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/wish.css') }}">
{% endblock %}

{% block body %}
<h1 class="title">Your Wishlist</h1>

<form method="POST" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <div class="field">
    {{ form.description.label(class='label') }}
    <div class="control">
      {{ form.description(class='input') }}
    </div>
  </div>

  <div class="field">
    {{ form.url.label(class='label') }}
    <div class="control">
      {{ form.url(class='input') }}
    </div>
  </div>

  <div class="field">
    {{ form.img.label(class='label') }}
    <div class="control">
      {{ form.img(class='file-input', accept='image/*') }}
      <button type="button" class="button is-info" onclick="this.previousElementSibling.click();">Upload Image</button>
    </div>
  </div>

  <div class="field">
    {{ form.submit(class='button is-link') }}
  </div>
</form>

<h2 class="subtitle">My Wishes:</h2>
<div class="colums is-multiline">
  {% for wish in wishes %}
    <div class="column is-one-third">
      <div class="card">
        <div class="card-content">
          <p class="title">{{ wish.description }}</p>
          {% if wish.url %}
            <p><a href="{{ wish.url }}" target="_blank">Link</a></p>
          {% endif %}
          {% if wish.img %}
          <figure class="image">
            <img src="{{ url_for('static', filename='upload/' + wish.img) }}">
          </figure>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<h2 class="subtitle">Their Wishes:</h2>
<div class="columns is-multiline">
  {% for wish in their_wishes %}
    <div class="column is-one-third">
      <div class="card {% if wish.bought %}has-crossed{% endif %}">
        <div class="card-content">
          <p>{{ wish.owner.username }}</p>
          <p class="title">{{ wish.description }}</p>
          {% if wish.url %}
            <p><a href="{{ wish.url }}" target="_blank">{{ wish.domain }}</a></p>
          {% endif %}
          {% if wish.img %}
            <figure class="image">
              <img src="{{ url_for('static', filename='upload/' + wish.img) }}">
            </figure>
          {% endif %}
          {% if not wish.bought %}
            <a href="{{ url_for('main.mark_as_bought', wish_id=wish.id) }}" class="button is-primary">Mark as Bought</a></li>
          {% elif wish.buyer_id == current_user.id %}
            <a href="{{ url_for('main.unmark_as_bought', wish_id=wish.id) }}" class="button is-danger">Unmark as Bought</a></li>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}
