.card.is-bought {
  opacity: 0.7;
  position: relative;
}

.button {
  border: none;
}

.card.is-bought {
  opacity: 0.7;
}

.button {
  border: none;
}

.card.is-bought::after {
  content: 'BAUGHT';
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 4em;
  color: red;
  transform: translate(-50%, -50%) rotate(0deg);
  z-index: 2;
}
