{% extends 'base.htm' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='wish/wish.css') }}">
{% endblock %}

{% block body %}
<h1 class="title">Wishes</h1>

<div class="tabs is-centered">
  <ul>
    {% for user in users %}
      <li class="{% if loop.index == 1 %}is-active{% endif %}">
        <a href="#tab-{{ user.id }}" data-user-id="{{ user.id }}" class="tab-link">{{ user.username }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

{% for user in users %}
  <div id="tab-{{ user.id }}" class="tab-content {% if loop.index == 1 %}is-active{% endif %}">
    {% set user_wishes = wishes_by_user[user.id] %}
    {% if user_wishes %}
      <div class="columns is-multiline mt-6">
        {% for wish in user_wishes %}
          <div class="column is-one-third-desktop is-half-tablet">
            {% set prop = {
              'id': wish.id,
              'description': wish.description,
              'url': wish.url,
              'domain': wish.domain,
              'image': wish.image,
              'bought': wish.bought,
              'owner': wish.owner,
              'owner_id': wish.owner_id,
              'is_owner': wish.owner_id == current_user.id,
              'buyer': wish.buyer,
              'buyer_id': wish.buyer_id,
              'is_buyer': wish.buyer_id == current_user.id,
            } %}
            {% include 'unit/card.htm' %}
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>No wishes for this user</p>
    {% endif %}
  </div>
{% endfor %}

{% block js %}
  <script src="{{ url_for('static', filename='wish/wish.js') }}"></script>
{% endblock %}

{% endblock %}
