<div class="columns is-centered is-multiline">
  <div class="card {% if prop.is_bought and not prop.is_owner%}is-bought{% endif %}" style="width: 300px;">
    <div class="card-header">
      {% if prop.description %}
        <p>{{ prop.description }}</p>
      {% endif %}
    </div>

    <div class="card-content">
      {% if prop.url and prop.domain %}
        <a href="{{ prop.url }}" target="_blank">{{ prop.domain }}</a>
      {% endif %}
    </div>

    <div class="card-image">
      {% if prop.image %}
        <img src="{{ url_for('static', filename='upload/' + prop.image) }}" alt="Image for {{ prop.image }}">
      {% endif %}
    </div>

    <div class="card-footer">
      {% if prop.is_owner %}
        <a href="{{ url_for('wish.wish_edit', wish_id=prop.id) }}" class="button is-warning">Edit</a>
      {% else %}
        <a href="{{ url_for('wish.wish_toggle', wish_id=prop.id) }}" class="button is-warning {% if prop.is_bought and not prop.is_buyer %}is-static{% endif %}">{% if prop.is_bought %}Cancel{%else %}Buy{% endif %}</a>
      {% endif %}
    </div>
  </div>
</div>
