<div class="card {% if prop.is_bought and not prop.is_owner%}is-bought{% endif %} {% if prop.is_bought and not prop.is_buyer %}is-not-buyer{% endif %}">
  <div class="card-header">
    <p>{{ prop.description }}</p>
  </div>

  <div class="card-content">
    {% if prop.url and prop.domain %}
      <a href="{{ prop.url }}" target="_blank">{{ prop.domain }}</a>
    {% endif %}
  </div>

  <div class="card-image">
    {% if prop.image %}
      <img src="{{ url_for('util.upload_file', filename=prop.image) }}" alt="Image for {{ prop.image }}">
    {% endif %}
  </div>

  <div class="card-footer">
    {% if prop.is_owner %}
    <div style="display: flex; justify-content: space-between;">
      <a href="{{ url_for('wish.wish_edit', wish_id=prop.id) }}" class="button is-blue" style="flex: 1; margin-right: 5px;">Edit</a>
      <a href="{{ url_for('wish.wish_delete', wish_id=prop.id) }}" class="button is-red" style="flex: 1; margin-right: 5px;">Delete</a>
    </div>
    {% else %}
      <a href="{{ url_for('wish.wish_toggle', wish_id=prop.id) }}" class="button {% if prop.is_bought %}is-red{% else %}is-green{% endif %} {% if prop.is_bought and not prop.is_buyer %}is-static{% endif %}">{% if prop.is_bought %}Cancel{%else %}Buy{% endif %}</a>
    {% endif %}
  </div>
</div>
