{% extends 'base/base.htm' %}

{% block content %}
<h1 class="title">{% if is_edit %}Edit{% else %}Add{% endif %} Wish</h1>

<form method="POST" enctype="multipart/form-data">
  {{ form.hidden_tag() }}

  <div class="field">
    <div style="display: flex; justify-content: space-between;">
        <div style="flex: 1; margin-right: 5px;">
            {{ form.submit(class="button is-primary is-fullwidth") }}
        </div>
        <div style="flex: 1; margin-left: 5px;">
            <button type="button" class="button is-light is-fullwidth" onclick="window.location=`{{ url_for('wish.wishes') }}`">Cancel</button>
        </div>
    </div>
  </div>

  <div class="field">
    {{ form.description.label(class="label") }}
    <div class="control">
      {{ form.description(class="input") }}
    </div>
  </div>

  <div class="field">
    {{ form.url.label(class="label") }}
    <div class="control">
      {{ form.url(class="input") }}
    </div>
  </div>

  <div class="field">
    {{ form.image.label(class="label") }}
    <div class="control">
      {{ form.image(class="input") }}
      {% if wish and wish.image %}
        <p>Current Image:</p>
        <img src="{{ url_for('util.upload_file', filename=wish.image) }}" alt="Current image" style="max-width: 200px;">
      {% endif %}
    </div>
  </div>
</form>
{% endblock %}
