.tabs ul {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  justify-content: center;
  list-style-type: none;
}

.tab-content {
  display: none;
}

.tab-content.is-active {
  display: block;
}

.tabs {
  overflow-x: hidden;
}

.tabs ul li a {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  border-bottom-color: transparent;
  background-color: var(--dark-grey);
  margin: 1px;
}

.tabs ul li#tab-current-user {
  margin-right: 15px;
}

.tabs ul li#tab-current-user a {
  background-color: yellow !important;
}

.tabs ul li.is-active a {
  border: 2px solid yellow;
}

.tabs ul li#tab-current-user {
  background-color: yellow;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.tabs li #tab-current-user {
  background-color: yellow;
}

.tabs ul li:not(:last-child) {
  margin-right: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 400px !important;
  height: 400px;
  padding: 0;
  overflow: hidden;
}

.card-wrapper {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.card-header,
.card-content,
.card-image,
.card-footer {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 0;
  margin: 0;
}

.card-header p {
  padding: 5px;
  color: darkorange !important;
}

.card-content a {
  color: darkcyan !important;
}

.card-image {
  width: 100%;
  max-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.card.is-bought {
  position: relative;
  opacity: 0.5;
}

.card.is-bought::after {
  content: 'BOUGHT';
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 2.5em;
  font-weight: bold;
  font-family: 'Lino Stamp';
  color: red;
  transform: translate(-50%, -35%) rotate(-45deg);
  z-index: 2;
}

.card.is-not-buyer {
  opacity: 0.1;
}

.card-add {
  position: relative;
}

.columns.is-centered {
  margin: 0px !important;
  justify-content: center;
}

.column.is-narrow {
  flex: 0 0 auto;
  width: auto;
  max-width: 400px;
}

@media screen and (max-width: 768px) {
  .column.is-narrow {
    width: 100%;
    margin: 0 auto;
  }
}
