h1.title,
.columns,
.tabs {
  margin: 0 !important;
}

.tabs ul {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.tab-content {
  display: none;
}

.tab-content.is-active {
  display: block;
}

.tabs li.is-active {
  font-weight: bold;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 300px;
  height: 300px;
  padding: 0;
}

.card-header,
.card-content,
.card-image,
.card-footer {
  display: flex;
  flex-direction: column;
}

.card-new {
  width: 100%;
  clear: both;
}

.card.is-bought {
  opacity: 0.5;
}

.card.is-bought::after {
  content: 'BOUGHT';
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 1.5em;
  font-weight: bold;
  color: red;
  transform: translate(-50%, -35%) rotate(-45deg);
  z-index: 2;
}
