.tab-content {
  display: none;
}

.tab-content.is-active {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 10px;
}

.card-header,
.card-content,
.card-footer {
  text-align: center;
}

.card-image {
  padding: 10px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border: none;
  margin: 5px;
}

.card.is-bought {
  opacity: 0.5;
}

.card.is-bought::after {
  content: 'BOUGHT';
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 4em;
  color: red;
  transform: translate(-50%, -50%) rotate(0deg);
  z-index: 2;
}
